*.o
*.la
*.lo
tags
*/tags
.deps/
.gitignore
.libs/
.memdump
COPYING
Makefile
Makefile.in
aclocal.m4
autom4te.cache
broken.xsl
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libexslt.pc
libexslt/exsltconfig.h
libtool
libxslt-1.1.24.tar.gz
libxslt-config.cmake
libxslt.pc
libxslt.spec
libxslt.spec.in.orig
libxslt/xsltconfig.h
ltmain.sh
missing
py-compile
python/*.pyc
python/gen_prog
python/libxslt-export.c
python/libxslt-py.c
python/libxslt-py.h
python/libxslt.py
python/libxsltclass.py
python/libxsltclass.txt
python/tests/foo
stamp-h1
tests/xmlspec/debug
xslt-config
xsltConf.sh
xslt_xml_id.patch
xsltproc/xsltproc
tests/XSLTMark/db100.xml
tests/XSLTMark/db1000.xml
tests/XSLTMark/db10000.xml
tests/plugins/plugin.res
xsltproc/testThreads
